/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* 
body {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
} */
.custom-button{
  
  width: 50px ;
  height: 50px;
  margin-left: -40px;
  border-radius: 50px;
  padding: 8px;
  /* font-size: ; */
  font-weight: bold;
  color: transparent;
  /* transition: width 2s ease; */
  
  
}
.parentbutton:hover .custom-button{
 
  transition: top .4s;
  color: black;
  width: 115px;
  border-radius: 8px;

  z-index: 999;
}


.income{
  position: absolute;
  top: 0;
  left: -26px;
}

.parentbutton:hover .income{
  position: absolute;
 
  top: -60px;
  left: -52px;
}


.expanse{
  position: absolute;
  top: 0;
  left: -20px;
}

.parentbutton:hover .expanse{
  position: absolute;
  top: -135px;
  left: -55px;
}

.Transfer{
  position: absolute;
  top: 0;
  left: -20px;
}

.parentbutton:hover .Transfer{
  position: absolute;
  top: -200px;
  left: -55px;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}
.no-hover {
  pointer-events: none;
}
.shadow-custom{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@media (max-width: 768px) {
  
  .parentbutton:hover .income{
    position: absolute;
   
    top: -50px;
    left: -40px;
  }

  .parentbutton:hover .expanse{
    position: absolute;
    top: -125px;
    left: -40px;
  }

  
.parentbutton:hover .Transfer{
  position: absolute;
  top: -190px;
  left: -40px;
}
}